# TRATAMENTO DOS DADOS DO CNES, SIGTAP E TETO

O tratamento

In [1]:
#Pandas: Possui inúmeras funções e comandos para importar arquivos, analisar dados, tratar dados, etc.
import pandas as pd # importando a biblioteca pandas

#Numpy: Possui uma série de funções e comandos para trabalharmos com números de forma em geral(formatação, calculos, etc)
import numpy as np # importando a biblioteca numpy

#Time: Possui uma série de funções e comandos para trabalharmos com tempo
import time # importando a biblioteca time

#Zipfile: Possui uma série de funções e comandos para trabalharmos com arquivos zip
import zipfile # importando a biblioteca zipfile

#glob: Possui uma série de funções e comandos para trabalharmos com arquivos
import glob # importando a biblioteca glob

#Warnings: Possui detalhes sobre os avisos e alertas que aparecem, porém podemos utiliza-lo também para que os alertas de
#futuras atualizações e metodos depreciados não sejam exibidos
import warnings
warnings.filterwarnings("ignore") 
tempo_inicial = time.time() # tempo inicial para calcular o tempo de execução do código

from glob import glob # Utilizado para listar arquivos de um diretório

#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Importação dos dados CNES, SIGTAP e TETO MAC: Analise e Tratamento de Dados

## BASE CNES

In [2]:
dado_cnes = glob('BASE/BASE_DE_DADOS_CNES*.ZIP')[0] # Listando os arquivos do diretório

In [3]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   print(myzip.namelist(),sep=',') # Listando os arquivos do zip

['rlEstabComplementar202301.csv', 'tbEstabelecimento202301.csv', 'tbMantenedora202301.csv', 'rlEstabAtendPrestConv202301.csv', 'rlEstabProgFundo202301.csv', 'rlEstabColetaSelRejeito202301.csv', 'rlEstabServicoApoio202301.csv', 'tbDialise202301.csv', 'tbQuimioRadio202301.csv', 'rlEstabComissaoOutro202301.csv', 'rlEstabInstFisiAssist202301.csv', 'tbDadosProfissionalSus202301.csv', 'tbServicoReferenciado202301.csv', 'rlEstabEquipamento202301.csv', 'tbCargaHorariaSus202301.csv', 'tbHemoterapia202301.csv', 'rlEstabServClass202301.csv', 'rlCooperativa202301.csv', 'tbEquipe202301.csv', 'rlEstabEquipeProf202301.csv', 'tbResidenciaMed202301.csv', 'tbSegmento202301.csv', 'tbArea202301.csv', 'tbEquipeChDifer202301.csv', 'tbEquipeAtendCompl202301.csv', 'rlEstabSipac202301.csv', 'tbProfResidencia202301.csv', 'rlEstabSubTipo202301.csv', 'rlEstabEndCompl202301.csv', 'rlEquipeNasfEsf202301.csv', 'rlEstabPoloAldeia202301.csv', 'tbEstabContrato202301.csv', 'rlEstabRepresentante202301.csv', 'rlEstabEquipeMun202301.csv', 'rlNasfEsf202301.csv', 'rlEstabTeleCnes202301.csv', 'rlEstabOrgParc202301.csv', 'rlEstabCentralReg202301.csv', 'rlEstabSamu202301.csv', 'rlEstabUnidAcolhim202301.csv', 'rlMunUnidAcolhim202301.csv', 'rlEstabAtenPsico202301.csv', 'rlMunAtenPsico202301.csv', 'rlEstabRegimeRes202301.csv', 'rlMunRegimeRes202301.csv', 'rlEstabAvaliacao202301.csv', 'rlAdmGerenciaCnes202301.csv', 'rlEstabEqpUnidApoio202301.csv', 'rlEstabEqpEmbarcacao202301.csv', 'tbEstabHorarioAtend202301.csv', 'tbEstabAtivSecundaria202301.csv', 'rlEquipeAldeia202301.csv', 'tbDsei202301.csv', 'tbPoloBase202301.csv', 'tbAldeia202301.csv', 'tbBanco202301.csv', 'tbLeito202301.csv', 'tbFluxoDadosClientela202301.csv', 'tbConvenio202301.csv', 'tbAtendimentoPrestado202301.csv', 'tbMunicipio202301.csv', 'tbAtividadeEnsino202301.csv', 'tbTipoUnidade202301.csv', 'tbTurnoAtendimento202301.csv', 'tbGestao202301.csv', 'tbEstado202301.csv', 'tbColetaSeletivaRejeito202301.csv', 'tbServicoApoio202301.csv', 'tbComissaoOutro202301.csv', 'tbClassificacaoServico202301.csv', 'tbServicoEspecializado202301.csv', 'tbSubtipoInstalacao202301.csv', 'tbInstalFisicaParaAssist202301.csv', 'tbTipoServicoReferenciado202301.csv', 'tbEquipamento202301.csv', 'tbTipoEquipamento202301.csv', 'tbAtividadeProfissional202301.csv', 'tbConselhoClasse202301.csv', 'tbAtributo202301.csv', 'tbTipoEscolaridade202301.csv', 'tbTipoCertidao202301.csv', 'tbOrgaoEmissor202301.csv', 'tbTipoEquipe202301.csv', 'tbTipoCgDifer202301.csv', 'tbMotivoDesativacao202301.csv', 'tbSubGruposHabilitacao202301.csv', 'tbMotivoDesativEquipe202301.csv', 'tbSubTipo202301.csv', 'tbModVinculo202301.csv', 'tbTpModVinculo202301.csv', 'tbSubTpModVinculo202301.csv', 'tbEtnia202301.csv', 'tbIncentivos202301.csv', 'tbNaturezaJuridica202301.csv', 'tbGrupoEquipe202301.csv', 'tbTipoEqSubTipo202301.csv', 'tbSubTipoEquipe202301.csv', 'tbAvaliacao202301.csv', 'tbClassificacaoAval202301.csv', 'tbInstituicaoAvaliadora202301.csv', 'rlEstabProfComissao202301.csv', 'tbGrupoAtividade202301.csv', 'tbAtividade202301.csv', 'tbTipoEstabelecimento202301.csv', 'rlAtividadeObrigatoria202301.csv', 'rlTipoEstabAtividade202301.csv', 'tbTipoInstalacaoFisica202301.csv']

In [4]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('tbEstabelecimento202301.csv') as myfile:  
      df_cnes = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , nrows=0) # Lendo o arquivo csv 
df_cnes.columns.values # Exibindo os valores do arquivo

array(['CO_UNIDADE', 'CO_CNES', 'NU_CNPJ_MANTENEDORA', 'TP_PFPJ',
       'NIVEL_DEP', 'NO_RAZAO_SOCIAL', 'NO_FANTASIA', 'NO_LOGRADOURO',
       'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'CO_REGIAO_SAUDE', 'CO_MICRO_REGIAO', 'CO_DISTRITO_SANITARIO',
       'CO_DISTRITO_ADMINISTRATIVO', 'NU_TELEFONE', 'NU_FAX', 'NO_EMAIL',
       'NU_CPF', 'NU_CNPJ', 'CO_ATIVIDADE', 'CO_CLIENTELA', 'NU_ALVARA',
       'DT_EXPEDICAO', 'TP_ORGAO_EXPEDIDOR', 'DT_VAL_LIC_SANI',
       'TP_LIC_SANI', 'TP_UNIDADE', 'CO_TURNO_ATENDIMENTO',
       'CO_ESTADO_GESTOR', 'CO_MUNICIPIO_GESTOR',
       "TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')", 'CO_USUARIO',
       'CO_CPFDIRETORCLN', 'REG_DIRETORCLN', 'ST_ADESAO_FILANTROP',
       'CO_MOTIVO_DESAB', 'NO_URL', 'NU_LATITUDE', 'NU_LONGITUDE',
       "TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')", 'NO_USUARIO_GEO',
       'CO_NATUREZA_JUR', 'TP_ESTAB_SEMPRE_ABERTO',
       'ST_GERACREDITO_GERENTE_SGIF', 'ST_CONEXAO_INTERNET',
       'CO_TIPO_UNIDADE', 'NO_FANTASIA_ABREV', 'TP_GESTAO',
       "TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')",
       'CO_TIPO_ESTABELECIMENTO', 'CO_ATIVIDADE_PRINCIPAL',
       'ST_CONTRATO_FORMALIZADO'], dtype=object)

In [5]:
colunas_c = ['CO_UNIDADE','CO_CNES','NO_RAZAO_SOCIAL','NO_FANTASIA','TP_UNIDADE','TP_GESTAO','CO_ESTADO_GESTOR','CO_MUNICIPIO_GESTOR','CO_MOTIVO_DESAB'] 
# Selecionando as colunas que serão utilizadas

In [6]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('tbEstabelecimento202301.csv') as myfile:  
      df_cnes = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , usecols=colunas_c) # Lendo o arquivo csv
df_cnes.head() # Exibindo as 5 primeiras linhas do arquivo

,CO_UNIDADE,CO_CNES,NO_RAZAO_SOCIAL,NO_FANTASIA,TP_UNIDADE,CO_ESTADO_GESTOR,CO_MUNICIPIO_GESTOR,CO_MOTIVO_DESAB,TP_GESTAO
0,4208307575521,7575521,CLINICA JANE REINERT CARRAMILLO,CLINICA JANE REINERT CARRAMILLO,22,42,420830,NaN,M
1,4208307575742,7575742,LE LIS CLINICA,LE LIS CLINICA,22,42,420830,NaN,M
2,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M
3,4209007574746,7574746,DORE CLINICA DE FISIOTERAPIA E POSTUROLOGIA LTDA,FISIOMAIS,36,42,420900,NaN,M
4,4209107571100,7571100,IMAGEM X RAD TOMO E DIAGNOSTICO ODONTOLOGICO LTDA,IMAGEM X RADIOLOGIA MATRIZ,36,42,420910,NaN,M

In [7]:
df_cnes.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480526 entries, 0 to 480525
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CO_UNIDADE           480526 non-null  object
 1   CO_CNES              480526 non-null  int64
 2   NO_RAZAO_SOCIAL      480524 non-null  object
 3   NO_FANTASIA          480467 non-null  object
 4   TP_UNIDADE           480526 non-null  int64
 5   CO_ESTADO_GESTOR     480526 non-null  int64
 6   CO_MUNICIPIO_GESTOR  480526 non-null  int64
 7   CO_MOTIVO_DESAB      93310 non-null   float64
 8   TP_GESTAO            480526 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 33.0+ MB

### SERVIÇO X CLASS

In [8]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabServClass202301.csv') as myfile:  
      df_cnes_servicos = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , nrows=0) # Lendo o arquivo csv
df_cnes_servicos.columns.values # Exibindo os valores do arquivo

array(['CO_UNIDADE', 'CO_SERVICO', 'CO_CLASSIFICACAO',
       'TP_CARACTERISTICA', 'CO_CNPJCPF', 'CO_AMBULATORIAL',
       'CO_AMBULATORIAL_SUS', 'CO_HOSPITALAR', 'CO_HOSPITALAR_SUS',
       'CO_END_COMPL', 'ST_ATIVO_SN',
       "TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')", 'CO_USUARIO'], dtype=object)

In [9]:
conlunas_s = ['CO_UNIDADE', 'CO_SERVICO', 'CO_CLASSIFICACAO'] # Selecionando as colunas que serão utilizadas

In [10]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabServClass202301.csv') as myfile:  
      df_cnes_servicos = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , usecols=conlunas_s) # Lendo o arquivo csv
df_cnes_servicos.head() # Exibindo as 5 primeiras linhas do arquivo

      CO_UNIDADE  CO_SERVICO  CO_CLASSIFICACAO
0  4127600022012         173                 3
1  4207002779234         174                 2
2  4209002560674         115                 2
3  4103226672760         121                 2
4  5300100456721         115                 2

In [11]:
df_cnes_servicos.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124712 entries, 0 to 1124711
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   CO_UNIDADE        1124712 non-null  object
 1   CO_SERVICO        1124712 non-null  int64
 2   CO_CLASSIFICACAO  1124712 non-null  int64
dtypes: int64(2), object(1)
memory usage: 25.7+ MB

### HABILITAÇÃO

In [12]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabSipac202301.csv') as myfile:  
      df_cnes_habilitacao = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , nrows=0) # Lendo o arquivo csv
df_cnes_habilitacao.columns.values # Exibindo os valores do arquivo

array(['CO_UNIDADE', 'COD_SUB_GRUPO_HABILITACAO', 'CMTP_INICIO',
       'CMTP_FIM', 'NU_LEITOS', 'NO_PORTARIA',
       "TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')", 'CO_USUARIO',
       'TP_HABILITACAO'], dtype=object)

In [13]:
conlunas_h = ['CO_UNIDADE', 'COD_SUB_GRUPO_HABILITACAO',] # Selecionando as colunas que serão utilizadas

In [14]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabSipac202301.csv') as myfile:  
      df_cnes_habilitacao = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , usecols=conlunas_h) # Lendo o arquivo csv
df_cnes_habilitacao.head() # Exibindo as 5 primeiras linhas do arquivo

      CO_UNIDADE  COD_SUB_GRUPO_HABILITACAO
0  4304402235609                       6001
1  4304502232928                       6001
2  2313402560852                       1902
3  2901002414244                       1902
4  3541502078139                       6001

In [15]:
df_cnes_habilitacao.info()  # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101448 entries, 0 to 101447
Data columns (total 2 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CO_UNIDADE                 101448 non-null  object
 1   COD_SUB_GRUPO_HABILITACAO  101448 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

### LEITOS E LEITOS DE UTI

In [16]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabComplementar202301.csv') as myfile:  
      df_cnes_leitos = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , nrows=0) # Lendo o arquivo csv
df_cnes_leitos.columns.values # Exibindo os valores do arquivo

array(['CO_UNIDADE', 'CO_LEITO', 'CO_TIPO_LEITO', 'TP_ALTACOMP',
       'QT_EXIST', 'QT_CONTR', 'QT_SUS',
       "TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')", 'CO_USUARIO',
       "TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"], dtype=object)

In [17]:
colunas_l = ['CO_UNIDADE', 'CO_LEITO', 'CO_TIPO_LEITO','QT_EXIST','QT_SUS'] # Selecionando as colunas que serão utilizadas

In [18]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('rlEstabComplementar202301.csv') as myfile:  
      df_cnes_leitos = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , usecols=colunas_l) # Lendo o arquivo csv
df_cnes_leitos.head() # Exibindo as 5 primeiras linhas do arquivo

      CO_UNIDADE  CO_LEITO  CO_TIPO_LEITO  QT_EXIST  QT_SUS
0  2607902319454        36              2         1       0
1  3201202485729        92              3        20      15
2  2911702804034         7              7        13      13
3  5002703018903        13              1         4       0
4  2410802409526        45              5         2       2

In [19]:
df_cnes_leitos.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58317 entries, 0 to 58316
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_UNIDADE     58317 non-null  object
 1   CO_LEITO       58317 non-null  int64
 2   CO_TIPO_LEITO  58317 non-null  int64
 3   QT_EXIST       58317 non-null  int64
 4   QT_SUS         58317 non-null  int64
dtypes: int64(4), object(1)
memory usage: 2.2+ MB

#### NOME DAS HABILITAÇÕES E LEITOS

In [20]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('tbSubGruposHabilitacao202301.csv') as myfile:  
      df_cnes_habilitacao_d = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , nrows=0) # Lendo o arquivo csv
df_cnes_habilitacao_d.columns.values # Exibindo os valores do arquivo

array(['CO_CODIGO_GRUPO', 'NO_DESCRICAO_GRUPO', 'TP_ORIGEM',
       'TP_HABILITACAO'], dtype=object)

In [21]:
colunas_h_d = ['CO_CODIGO_GRUPO', 'NO_DESCRICAO_GRUPO'] # Selecionando as colunas que serão utilizadas

In [22]:
with zipfile.ZipFile(dado_cnes) as myzip: # Abrindo o arquivo zip
   with myzip.open('tbSubGruposHabilitacao202301.csv') as myfile:  
      df_cnes_habilitacao_d = pd.read_csv(myfile, sep=';', encoding='latin-1', low_memory=False , usecols=colunas_h_d) # Lendo o arquivo csv
df_cnes_habilitacao_d.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_CODIGO_GRUPO                                 NO_DESCRICAO_GRUPO
0             3001  UNIDADE DE ATENÇÃO ESPECIALIZADA NO PROCESSO T...
1             2203                     UNIDADE DE REABILITACAO VISUAL
2             7005  ESTABELECIMENTO DO MINISTERIO DA SAUDE COM CON...
3             7110  ESTABELECIMENTO DE SAUDE DA ESTRUTURA DO MINIS...
4             7111  ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDIT...

In [23]:
df_cnes_habilitacao = pd.merge(df_cnes_habilitacao, df_cnes_habilitacao_d, left_on='COD_SUB_GRUPO_HABILITACAO', right_on='CO_CODIGO_GRUPO', how='left')
df_cnes_habilitacao.drop(['COD_SUB_GRUPO_HABILITACAO'], axis=1, inplace=True)
df_cnes_habilitacao.head() # Exibindo as 5 primeiras linhas do arquivo

      CO_UNIDADE  CO_CODIGO_GRUPO     NO_DESCRICAO_GRUPO
0  4304402235609             6001  HOSPITAL FILANTROPICO
1  4304502232928             6001  HOSPITAL FILANTROPICO
2  2313402560852             1902             VASECTOMIA
3  2901002414244             1902             VASECTOMIA
4  3541502078139             6001  HOSPITAL FILANTROPICO

### Merge entre os arquivos CNES

### Merge entre os arquivos CNES e Serviços

In [24]:
df_base_cnes_s = pd.merge(df_cnes, df_cnes_servicos, on='CO_UNIDADE', how='left') # Juntando os arquivos
df_base_cnes_s.head() # Exibindo as 5 primeiras linhas do arquivo

,CO_UNIDADE,CO_CNES,NO_RAZAO_SOCIAL,NO_FANTASIA,TP_UNIDADE,CO_ESTADO_GESTOR,CO_MUNICIPIO_GESTOR,CO_MOTIVO_DESAB,TP_GESTAO,CO_SERVICO,CO_CLASSIFICACAO
0,4208307575521,7575521,CLINICA JANE REINERT CARRAMILLO,CLINICA JANE REINERT CARRAMILLO,22,42,420830,NaN,M,131.0,2.0
1,4208307575742,7575742,LE LIS CLINICA,LE LIS CLINICA,22,42,420830,NaN,M,NaN,NaN
2,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,112.0,1.0
3,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,119.0,1.0
4,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,174.0,1.0

In [25]:
df_base_cnes_s.drop_duplicates() # Removendo duplicados
df_base_cnes_s.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376884 entries, 0 to 1376883
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CO_UNIDADE           1376884 non-null  object
 1   CO_CNES              1376884 non-null  int64
 2   NO_RAZAO_SOCIAL      1376879 non-null  object
 3   NO_FANTASIA          1376775 non-null  object
 4   TP_UNIDADE           1376884 non-null  int64
 5   CO_ESTADO_GESTOR     1376884 non-null  int64
 6   CO_MUNICIPIO_GESTOR  1376884 non-null  int64
 7   CO_MOTIVO_DESAB      163606 non-null   float64
 8   TP_GESTAO            1376884 non-null  object
 9   CO_SERVICO           1124712 non-null  float64
 10  CO_CLASSIFICACAO     1124712 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 126.1+ MB

### Merge entre os arquivos CNES e Habilitação

In [26]:
df_base_cnes_h = pd.merge(df_cnes, df_cnes_habilitacao, on='CO_UNIDADE', how='left') # Juntando os arquivos
df_base_cnes_h.head() # Exibindo as 5 primeiras linhas do arquivo

,CO_UNIDADE,CO_CNES,NO_RAZAO_SOCIAL,NO_FANTASIA,TP_UNIDADE,CO_ESTADO_GESTOR,CO_MUNICIPIO_GESTOR,CO_MOTIVO_DESAB,TP_GESTAO,CO_CODIGO_GRUPO,NO_DESCRICAO_GRUPO
0,4208307575521,7575521,CLINICA JANE REINERT CARRAMILLO,CLINICA JANE REINERT CARRAMILLO,22,42,420830,NaN,M,NaN,NaN
1,4208307575742,7575742,LE LIS CLINICA,LE LIS CLINICA,22,42,420830,NaN,M,NaN,NaN
2,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,913.0,ADESAO DO ESTABELECIMENTO AO PROJETO MAIS MÉDICOS
3,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,7111.0,ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDIT...
4,4209007574746,7574746,DORE CLINICA DE FISIOTERAPIA E POSTUROLOGIA LTDA,FISIOMAIS,36,42,420900,NaN,M,NaN,NaN

In [27]:
df_base_cnes_h.drop_duplicates() # Removendo duplicados
df_base_cnes_h.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517298 entries, 0 to 517297
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CO_UNIDADE           517298 non-null  object
 1   CO_CNES              517298 non-null  int64
 2   NO_RAZAO_SOCIAL      517296 non-null  object
 3   NO_FANTASIA          517239 non-null  object
 4   TP_UNIDADE           517298 non-null  int64
 5   CO_ESTADO_GESTOR     517298 non-null  int64
 6   CO_MUNICIPIO_GESTOR  517298 non-null  int64
 7   CO_MOTIVO_DESAB      94168 non-null   float64
 8   TP_GESTAO            517298 non-null  object
 9   CO_CODIGO_GRUPO      101767 non-null  float64
 10  NO_DESCRICAO_GRUPO   101767 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 47.4+ MB

In [28]:
df_base_cnes_h.head() # Exibindo as 5 primeiras linhas do arquivo

,CO_UNIDADE,CO_CNES,NO_RAZAO_SOCIAL,NO_FANTASIA,TP_UNIDADE,CO_ESTADO_GESTOR,CO_MUNICIPIO_GESTOR,CO_MOTIVO_DESAB,TP_GESTAO,CO_CODIGO_GRUPO,NO_DESCRICAO_GRUPO
0,4208307575521,7575521,CLINICA JANE REINERT CARRAMILLO,CLINICA JANE REINERT CARRAMILLO,22,42,420830,NaN,M,NaN,NaN
1,4208307575742,7575742,LE LIS CLINICA,LE LIS CLINICA,22,42,420830,NaN,M,NaN,NaN
2,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,913.0,ADESAO DO ESTABELECIMENTO AO PROJETO MAIS MÉDICOS
3,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,7111.0,ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDIT...
4,4209007574746,7574746,DORE CLINICA DE FISIOTERAPIA E POSTUROLOGIA LTDA,FISIOMAIS,36,42,420900,NaN,M,NaN,NaN

### Merge entre os arquivos CNES e Leitos

In [29]:
df_base_cnes_l = pd.merge(df_cnes, df_cnes_leitos, on='CO_UNIDADE', how='left') # Juntando os arquivos
df_base_cnes_l.head() # Exibindo as 5 primeiras linhas do arquivo

,CO_UNIDADE,CO_CNES,NO_RAZAO_SOCIAL,NO_FANTASIA,TP_UNIDADE,CO_ESTADO_GESTOR,CO_MUNICIPIO_GESTOR,CO_MOTIVO_DESAB,TP_GESTAO,CO_LEITO,CO_TIPO_LEITO,QT_EXIST,QT_SUS
0,4208307575521,7575521,CLINICA JANE REINERT CARRAMILLO,CLINICA JANE REINERT CARRAMILLO,22,42,420830,NaN,M,NaN,NaN,NaN,NaN
1,4208307575742,7575742,LE LIS CLINICA,LE LIS CLINICA,22,42,420830,NaN,M,NaN,NaN,NaN,NaN
2,4208907566735,7566735,PREFEITURA MUNICIPAL DE JARAGUA DO SUL,UNIDADE BASICA DE SAUDE AMABILE PEDROTTI,2,42,420890,NaN,M,NaN,NaN,NaN,NaN
3,4209007574746,7574746,DORE CLINICA DE FISIOTERAPIA E POSTUROLOGIA LTDA,FISIOMAIS,36,42,420900,NaN,M,NaN,NaN,NaN,NaN
4,4209107571100,7571100,IMAGEM X RAD TOMO E DIAGNOSTICO ODONTOLOGICO LTDA,IMAGEM X RADIOLOGIA MATRIZ,36,42,420910,NaN,M,NaN,NaN,NaN,NaN

In [30]:
df_base_cnes_l.drop_duplicates() # Removendo duplicados
df_base_cnes_l.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528162 entries, 0 to 528161
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CO_UNIDADE           528162 non-null  object
 1   CO_CNES              528162 non-null  int64
 2   NO_RAZAO_SOCIAL      528160 non-null  object
 3   NO_FANTASIA          528103 non-null  object
 4   TP_UNIDADE           528162 non-null  int64
 5   CO_ESTADO_GESTOR     528162 non-null  int64
 6   CO_MUNICIPIO_GESTOR  528162 non-null  int64
 7   CO_MOTIVO_DESAB      99078 non-null   float64
 8   TP_GESTAO            528162 non-null  object
 9   CO_LEITO             58317 non-null   float64
 10  CO_TIPO_LEITO        58317 non-null   float64
 11  QT_EXIST             58317 non-null   float64
 12  QT_SUS               58317 non-null   float64
dtypes: float64(5), int64(4), object(4)
memory usage: 56.4+ MB

### Salvando o banco de dados CNES em csv

In [31]:
df_base_cnes_s.to_csv('BASE\.BASE_CNES_SERVICOS.csv', sep=';', encoding='latin-1', index=False) # Exportando o arquivo para csv
df_base_cnes_h.to_csv('BASE\.BASE_CNES_HABILITACAO.csv', sep=';', encoding='latin-1', index=False) # Exportando o arquivo para csv
df_base_cnes_l.to_csv('BASE\.BASE_CNES_LEITOS.csv', sep=';', encoding='latin-1', index=False) # Exportando o arquivo para csv

In [32]:
tempo_analise = time.time()
tempo_total = (float(tempo_analise - tempo_inicial)/60)
print(f"Tempo total de parcial:: {tempo_total:,.1f} minutos" )

Tempo total de parcial:: 0.5 minutos

## BASE TETO MAC

In [33]:
dado_tetp = glob('BASE/*relatorioTetoFinanceiroBrasilExcel.xlsx')[0] # Listando os arquivos do diretório
df_teto_mac = pd.read_excel(dado_tetp, sheet_name='relatorioTetoFinanceiroBrasilEx') # Lê o arquivo excel
df_teto_mac.drop(df_teto_mac.loc[df_teto_mac['Descrição Gestão']=='Total UF'].index, inplace=True) # Remove as linhas com o valor 'Total'
# df_teto_mac.drop(df_teto_mac.loc[df_teto_mac['Descrição Gestão']=='Gestão Estadual'].index, inplace=True) # Remove as linhas com o valor 'Gestão Estadual'
df_teto_mac.head() # Exibe as 5 primeiras linhas do arquivo

,Sigla UF,Código IBGE,Estado / Município,Código Gestão,Descrição Gestão,Teto Financeiro MAC - Valores Anuais (R$)
1,AC,120000,ACRE,2,Gestão Estadual,2.047744e+08
2,AC,120001,ACRELÂNDIA,1,Gestão Municipal,3.728369e+05
3,AC,120005,ASSIS BRASIL,1,Gestão Municipal,0.000000e+00
4,AC,120010,BRASILÉIA,1,Gestão Municipal,3.396600e+05
5,AC,120013,BUJARI,1,Gestão Municipal,0.000000e+00

In [34]:
df_teto_mac.info() # Exibe informações do arquivo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5621 entries, 1 to 5647
Data columns (total 6 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sigla UF                                   5621 non-null   object
 1   Código IBGE                                5621 non-null   int64
 2   Estado / Município                         5621 non-null   object
 3   Código Gestão                              5621 non-null   int64
 4   Descrição Gestão                           5621 non-null   object
 5   Teto Financeiro MAC - Valores Anuais (R$)  5621 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 307.4+ KB

In [35]:
df_teto_mac.to_csv('BASE\.BASE_TETO_MAC.csv', sep=';', encoding='latin-1', index=False) # Exporta o arquivo para csv

In [36]:
tempo_processo = time.time()
tempo_total = (float(tempo_processo - tempo_inicial)/60)
tempo_parcial = (float(tempo_processo - tempo_analise)/60)
print(f"Tempo total de parcial: {tempo_parcial:,.1f} minutos" )
print(f"Tempo total de execução: {tempo_total:,.1f} minutos" )

Tempo total de parcial: 0.0 minutos
Tempo total de execução: 0.5 minutos

## BASE SIGTAP

In [37]:
dado_sigtap = glob('BASE/TabelaUnificada_2023*.zip')[0] # Listando os arquivos do diretório

In [38]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   print(myzip.namelist(),sep=",") # Listando os arquivos do zip

['tb_detalhe_layout.txt', 'rl_procedimento_sia_sih.txt', 'tb_sia_sih.txt', 'tb_habilitacao.txt', 'rl_procedimento_tuss.txt', 'tb_ocupacao_layout.txt', 'tb_financiamento_layout.txt', 'rl_procedimento_habilitacao_layout.txt', 'rl_procedimento_regra_cond.txt', 'tb_habilitacao_layout.txt', 'tb_procedimento_layout.txt', 'tb_sub_grupo.txt', 'tb_tipo_leito_layout.txt', 'rl_procedimento_registro.txt', 'rl_procedimento_servico.txt', 'rl_procedimento_renases_layout.txt', 'tb_servico.txt', 'rl_procedimento_sia_sih_layout.txt', 'tb_ocupacao.txt', 'rl_procedimento_detalhe.txt', 'tb_grupo_layout.txt', 'tb_detalhe.txt', 'tb_sub_grupo_layout.txt', 'rl_procedimento_tuss_layout.txt', 'rl_procedimento_modalidade.txt', 'tb_registro_layout.txt', 'tb_procedimento.txt', 'tb_grupo.txt', 'tb_regra_condicionada.txt', 'rl_procedimento_comp_rede_layout.txt', 'tb_registro.txt', 'rl_procedimento_cid_layout.txt', 'rl_procedimento_modalidade_layout.txt', 'tb_componente_rede_layout.txt', 'config.inf', 'rl_procedimento_habilitacao.txt', 'tb_rede_atencao_layout.txt', 'rl_procedimento_ocupacao_layout.txt', 'rl_procedimento_servico_layout.txt', 'rl_procedimento_compativel.txt', 'tb_servico_classificacao_layout.txt', 'tb_descricao_detalhe.txt', 'rl_procedimento_leito_layout.txt', 'tb_componente_rede.txt', 'tb_descricao_detalhe_layout.txt', 'tb_tuss.txt', 'rl_procedimento_detalhe_layout.txt', 'rl_procedimento_incremento.txt', 'tb_renases_layout.txt', 'rl_excecao_compatibilidade_layout.txt', 'tb_modalidade.txt', 'tb_tipo_leito.txt', 'rl_procedimento_registro_layout.txt', 'tb_sia_sih_layout.txt', 'versao', 'rl_procedimento_comp_rede.txt', 'tb_regra_condicionada_layout.txt', 'tb_forma_organizacao.txt', 'tb_rubrica_layout.txt', 'tb_descricao_layout.txt', 'tb_cid_layout.txt', 'tb_descricao.txt', 'tb_rede_atencao.txt', 'tb_modalidade_layout.txt', 'tb_forma_organizacao_layout.txt', 'rl_procedimento_cid.txt', 'tb_grupo_habilitacao_layout.txt', 'rl_procedimento_compativel_layout.txt', 'DATASUS - Tabela de Procedimentos - Lay-out.xls', 'tb_cid.txt', 'tb_servico_classificacao.txt', 'layout.txt', 'rl_procedimento_leito.txt', 'tb_servico_layout.txt', 'rl_procedimento_regra_cond_layout.txt', 'tb_grupo_habilitacao.txt', 'tb_tuss_layout.txt', 'rl_procedimento_renases.txt', 'tb_rubrica.txt', 'rl_excecao_compatibilidade.txt', 'tb_renases.txt', 'rl_procedimento_origem_layout.txt', 'rl_procedimento_incremento_layout.txt', 'tb_financiamento.txt', 'rl_procedimento_ocupacao.txt', 'rl_procedimento_origem.txt', 'LEIA_ME.TXT']

## Importando tabela de procedimentos

In [39]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   with myzip.open('tb_procedimento.txt') as myfile:  
      df_sigtap = pd.read_fwf(myfile, colspecs=[(0,10), (10,260), (260,261), (261,262), (262,266), (266,270), (270,274), (274,278), (278,282), (282,292), (292,302), (302,312), (312,314), (314,320), (320,324), (324,330)], 
                              names=["CO_PROCEDIMENTO", "NO_PROCEDIMENTO", "TP_COMPLEXIDADE","TP_SEXO","QT_MAXIMA_EXECUCAO","QT_DIAS_PERMANENCIA","QT_PONTOS","VL_IDADE_MINIMA","VL_IDADE_MAXIMA",
                                     "VL_SH","VL_SA","VL_SP","CO_FINANCIAMENTO","CO_RUBRICA","QT_TEMPO_PERMANENCIA","DT_COMPETENCIA"], encoding='latin') # Lendo o arquivo txt
df_sigtap.drop(['TP_COMPLEXIDADE','TP_SEXO','QT_MAXIMA_EXECUCAO','QT_DIAS_PERMANENCIA','QT_PONTOS','VL_IDADE_MINIMA','VL_IDADE_MAXIMA','VL_SH','VL_SA','VL_SP',
                'CO_FINANCIAMENTO','CO_RUBRICA','QT_TEMPO_PERMANENCIA','DT_COMPETENCIA'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_PROCEDIMENTO                                    NO_PROCEDIMENTO
0        101010010  ATIVIDADE EDUCATIVA / ORIENTAÇÃO EM GRUPO NA A...
1        101010028  ATIVIDADE EDUCATIVA / ORIENTAÇÃO EM GRUPO NA A...
2        101010036       PRÁTICA CORPORAL / ATIVIDADE FÍSICA EM GRUPO
3        101010095                  PREVENÇÃO DA COVID-19 NAS ESCOLAS
4        101010109  ATIVIDADES EDUCATIVAS DA POPULAÇÃO SOBRE A TEM...

### Importar serviço/classificação

In [40]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   with myzip.open('rl_procedimento_servico.txt') as myfile:  
      df_sigtap_servico = pd.read_fwf(myfile, colspecs=[(0,10), (10,13), (13,16), (16,22)], 
                              names=["CO_PROCEDIMENTO","CO_SERVICO","CO_CLASSIFICACAO","DT_COMPETENCIA"], encoding='latin') # Lendo o arquivo txt
df_sigtap_servico.drop(['DT_COMPETENCIA'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap_servico.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_PROCEDIMENTO  CO_SERVICO  CO_CLASSIFICACAO
0        102010056         141                 2
1        102010064         141                 2
2        102010072         141                 2
3        102010145         141                 2
4        102010153         141                 2

### Importar Habilitação

In [41]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   with myzip.open('rl_procedimento_habilitacao.txt') as myfile:  
      df_sigtap_habilitacao = pd.read_fwf(myfile, colspecs=[(0,10), (10,14), (14,18), (18,24)], names=["CO_PROCEDIMENTO", "CO_HABILITACAO", "NU_GRUPO_HABILITACAO", "DT_COMPETENCIA"]) # Lendo o arquivo txt
df_sigtap_habilitacao.drop(['NU_GRUPO_HABILITACAO','DT_COMPETENCIA'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap_habilitacao.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_PROCEDIMENTO  CO_HABILITACAO
0        201010127            1706
1        201010127            1707
2        201010127            1708
3        201010127            1709
4        201010127            1711

### Importar Registro

In [42]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   with myzip.open('rl_procedimento_registro.txt') as myfile:  
      df_sigtap_modalidade = pd.read_fwf(myfile, colspecs=[(0,10), (10,12), (12,18)], names=["CO_PROCEDIMENTO", "CO_REGISTRO", "DT_COMPETENCIA"]) # Lendo o arquivo txt
df_sigtap_modalidade.drop(['DT_COMPETENCIA'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap_modalidade.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_PROCEDIMENTO  CO_REGISTRO
0        101010010            1
1        101010028            1
2        101010036            1
3        101010095           10
4        101010109           10

In [43]:
with zipfile.ZipFile(dado_sigtap) as myzip: # Abrindo o arquivo zip
   with myzip.open('tb_registro.txt') as myfile:  
      df_sigtap_registro = pd.read_fwf(myfile, colspecs=[(0,2), (2,52), (52,58)], names=["CO_REGISTRO", "NO_REGISTRO", "DT_COMPETENCIA"], encoding='latin') # Lendo o arquivo txt
df_sigtap_registro.drop(['DT_COMPETENCIA'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap_registro.head() # Exibindo as 5 primeiras linhas do arquivo

df_sigtap_modalidade = pd.merge(df_sigtap_modalidade, df_sigtap_registro, on='CO_REGISTRO', how='left') # Juntando os arquivos
df_sigtap_modalidade.head() # Exibindo as 5 primeiras linhas do arquivo

   CO_PROCEDIMENTO  CO_REGISTRO                           NO_REGISTRO
0        101010010            1                     BPA (Consolidado)
1        101010028            1                     BPA (Consolidado)
2        101010036            1                     BPA (Consolidado)
3        101010095           10  e-SUS APS (Atenção Primária à Saúde)
4        101010109           10  e-SUS APS (Atenção Primária à Saúde)

### Definido Grupo, Sub-grupo e forma de organização

In [44]:
df_planilha_proc = glob('BASE\plano-atendimento*.xlsx')[0] # Listando os arquivos do diretório

In [45]:
df_planilha_proc = pd.read_excel(df_planilha_proc, sheet_name='PROCEDIMENTOS') # Lendo o arquivo excel
df_planilha_proc.head() # Exibindo as 5 primeiras linhas do arquivo

,Procedimentos envolvidos,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Dados de Produção Brasil (2018 a 2022),Unnamed: 6,Unnamed: 7,Unnamed: 8,Exigência SIGTAP,Unnamed: 10,Instrumento de REGISTRO,Unnamed: 12,Unnamed: 13
0,COD_SUBGRUPO,SUBGRUPO,CO_PROCEDIMENTO,NO_PROCEDIMENTO,cod proc texto,QT_PROD SIASUS 2018 a 2022,% ELET SIASUS,QT_PROD AIH 2018 a 2022,% ELET AIH,EXIGE SERVIÇO,EXIGE HABILITACAO,BPA (Individualizado) 2,3 AIH (Proc. Principal),6 - APAC (Proc. Principal)
1,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020010,ENXERTO COMPOSTO,0401020010,0,0,2972,0.525908,-,-,-,SIM,-
2,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020029,ENXERTO DERMO-EPIDERMICO,0401020029,0,0,23406,0.158763,-,-,-,SIM,-
3,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020037,ENXERTO LIVRE DE PELE TOTAL,0401020037,0,0,13725,0.225501,-,-,-,SIM,-
4,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020045,"EXCISAO E ENXERTO DE PELE (HEMANGIOMA, NEVUS O...",0401020045,0,0,56006,0.771275,-,-,-,SIM,-

In [46]:
df_planilha_proc.rename(columns={'Código do Procedimento':'CO_PROCEDIMENTO','Unnamed: 1':'SUBGRUPO','Unnamed: 2':'COD_PROCEDIMENTO', 'Unnamed: 3':'DEC_PROCEDIMENTO', 'Unnamed: 4':'codigo', 
                                 'Dados de Produção Brasil (2018 a 2022)':'QT_PROD_SIASUS', 'Unnamed: 6':'% ELET SIASUS', 'Unnamed: 7':'QT_PROD AIH 2018 a 2022',
                                 'Unnamed: 8':'% ELET AIH', 'Exigência SIGTAP':'EXIGE SERVIÇO', 'Unnamed: 10':'EXIGE HABILITACAO', 'Instrumento de REGISTRO':'BPA_I',
                                 'Unnamed: 12':'AIH', 'Unnamed: 13':'APAC'}, inplace=True) # Renomeando colunas
df_planilha_proc.drop(0, inplace=True) # Remove a primeira linha do arquivo
df_planilha_proc.drop(['codigo'], axis=1, inplace=True) # Remove a coluna codigo
df_planilha_proc.head() # Exibindo as 5 primeiras linhas do arquivo

,Procedimentos envolvidos,SUBGRUPO,COD_PROCEDIMENTO,DEC_PROCEDIMENTO,Dados de Produção Brasil (2018 a 2022),% ELET SIASUS,QT_PROD AIH 2018 a 2022,% ELET AIH,EXIGE SERVIÇO,EXIGE HABILITACAO,BPA_I,AIH,APAC
1,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020010,ENXERTO COMPOSTO,0,0,2972,0.525908,-,-,-,SIM,-
2,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020029,ENXERTO DERMO-EPIDERMICO,0,0,23406,0.158763,-,-,-,SIM,-
3,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020037,ENXERTO LIVRE DE PELE TOTAL,0,0,13725,0.225501,-,-,-,SIM,-
4,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020045,"EXCISAO E ENXERTO DE PELE (HEMANGIOMA, NEVUS O...",0,0,56006,0.771275,-,-,-,SIM,-
5,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020053,EXCISAO E SUTURA DE LESAO NA PELE C/ PLASTICA ...,0,0,149988,0.791517,-,-,-,SIM,-

### Merge entre os arquivos SIGTAP

In [47]:
df_sigtap_f = pd.merge(df_planilha_proc, df_sigtap_modalidade, left_on='COD_PROCEDIMENTO', right_on='CO_PROCEDIMENTO', how='left') # Juntando os arquivos 3
df_sigtap_f.head() # Exibindo as 5 primeiras linhas do arquivo

,Procedimentos envolvidos,SUBGRUPO,COD_PROCEDIMENTO,DEC_PROCEDIMENTO,Dados de Produção Brasil (2018 a 2022),% ELET SIASUS,QT_PROD AIH 2018 a 2022,% ELET AIH,EXIGE SERVIÇO,EXIGE HABILITACAO,BPA_I,AIH,APAC,CO_PROCEDIMENTO,CO_REGISTRO,NO_REGISTRO
0,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020010,ENXERTO COMPOSTO,0,0,2972,0.525908,-,-,-,SIM,-,401020010,3,AIH (Proc. Principal)
1,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020029,ENXERTO DERMO-EPIDERMICO,0,0,23406,0.158763,-,-,-,SIM,-,401020029,3,AIH (Proc. Principal)
2,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020037,ENXERTO LIVRE DE PELE TOTAL,0,0,13725,0.225501,-,-,-,SIM,-,401020037,3,AIH (Proc. Principal)
3,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020045,"EXCISAO E ENXERTO DE PELE (HEMANGIOMA, NEVUS O...",0,0,56006,0.771275,-,-,-,SIM,-,401020045,3,AIH (Proc. Principal)
4,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020053,EXCISAO E SUTURA DE LESAO NA PELE C/ PLASTICA ...,0,0,149988,0.791517,-,-,-,SIM,-,401020053,3,AIH (Proc. Principal)

In [48]:
df_sigtap_f = pd.merge(df_sigtap_f, df_sigtap_servico, on='CO_PROCEDIMENTO', how='left') # Juntando os arquivos
df_sigtap_f.head() # Exibindo as 5 primeiras linhas do arquivo

,Procedimentos envolvidos,SUBGRUPO,COD_PROCEDIMENTO,DEC_PROCEDIMENTO,Dados de Produção Brasil (2018 a 2022),% ELET SIASUS,QT_PROD AIH 2018 a 2022,% ELET AIH,EXIGE SERVIÇO,EXIGE HABILITACAO,BPA_I,AIH,APAC,CO_PROCEDIMENTO,CO_REGISTRO,NO_REGISTRO,CO_SERVICO,CO_CLASSIFICACAO
0,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020010,ENXERTO COMPOSTO,0,0,2972,0.525908,-,-,-,SIM,-,401020010,3,AIH (Proc. Principal),NaN,NaN
1,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020029,ENXERTO DERMO-EPIDERMICO,0,0,23406,0.158763,-,-,-,SIM,-,401020029,3,AIH (Proc. Principal),NaN,NaN
2,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020037,ENXERTO LIVRE DE PELE TOTAL,0,0,13725,0.225501,-,-,-,SIM,-,401020037,3,AIH (Proc. Principal),NaN,NaN
3,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020045,"EXCISAO E ENXERTO DE PELE (HEMANGIOMA, NEVUS O...",0,0,56006,0.771275,-,-,-,SIM,-,401020045,3,AIH (Proc. Principal),NaN,NaN
4,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020053,EXCISAO E SUTURA DE LESAO NA PELE C/ PLASTICA ...,0,0,149988,0.791517,-,-,-,SIM,-,401020053,3,AIH (Proc. Principal),NaN,NaN

In [49]:
df_sigtap_f = pd.merge(df_sigtap_f, df_sigtap_habilitacao, on='CO_PROCEDIMENTO', how='left') # Juntando os arquivos
df_sigtap_f.head() # Exibindo as 5 primeiras linhas do arquivo

,Procedimentos envolvidos,SUBGRUPO,COD_PROCEDIMENTO,DEC_PROCEDIMENTO,Dados de Produção Brasil (2018 a 2022),% ELET SIASUS,QT_PROD AIH 2018 a 2022,% ELET AIH,EXIGE SERVIÇO,EXIGE HABILITACAO,BPA_I,AIH,APAC,CO_PROCEDIMENTO,CO_REGISTRO,NO_REGISTRO,CO_SERVICO,CO_CLASSIFICACAO,CO_HABILITACAO
0,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020010,ENXERTO COMPOSTO,0,0,2972,0.525908,-,-,-,SIM,-,401020010,3,AIH (Proc. Principal),NaN,NaN,NaN
1,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020029,ENXERTO DERMO-EPIDERMICO,0,0,23406,0.158763,-,-,-,SIM,-,401020029,3,AIH (Proc. Principal),NaN,NaN,NaN
2,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020037,ENXERTO LIVRE DE PELE TOTAL,0,0,13725,0.225501,-,-,-,SIM,-,401020037,3,AIH (Proc. Principal),NaN,NaN,NaN
3,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020045,"EXCISAO E ENXERTO DE PELE (HEMANGIOMA, NEVUS O...",0,0,56006,0.771275,-,-,-,SIM,-,401020045,3,AIH (Proc. Principal),NaN,NaN,NaN
4,0401,"PEQUENAS CIRURGIAS E CIRURGIAS DE PELE, TECIDO...",401020053,EXCISAO E SUTURA DE LESAO NA PELE C/ PLASTICA ...,0,0,149988,0.791517,-,-,-,SIM,-,401020053,3,AIH (Proc. Principal),NaN,NaN,NaN

In [50]:
df_sigtap_f.drop(['CO_PROCEDIMENTO'], axis=1, inplace=True) # Removendo colunas desnecessárias
df_sigtap_f.info() # Exibindo informações do arquivo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7581 entries, 0 to 7580
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Procedimentos envolvidos                 7581 non-null   object
 1   SUBGRUPO                                 7581 non-null   object
 2   COD_PROCEDIMENTO                         7581 non-null   object
 3   DEC_PROCEDIMENTO                         7581 non-null   object
 4   Dados de Produção Brasil  (2018 a 2022)  7581 non-null   object
 5   % ELET SIASUS                            7581 non-null   object
 6   QT_PROD AIH 2018 a 2022                  7581 non-null   object
 7   % ELET AIH                               7581 non-null   object
 8   EXIGE SERVIÇO                            7581 non-null   object
 9   EXIGE HABILITACAO                        7581 non-null   object
 10  BPA_I                                    7581 non-null   object
 11  AIH                                      7581 non-null   object
 12  APAC                                     7581 non-null   object
 13  CO_REGISTRO                              7581 non-null   int64
 14  NO_REGISTRO                              7581 non-null   object
 15  CO_SERVICO                               5255 non-null   float64
 16  CO_CLASSIFICACAO                         5255 non-null   float64
 17  CO_HABILITACAO                           6805 non-null   float64
dtypes: float64(3), int64(1), object(14)
memory usage: 1.1+ MB

## Salvar Banco de dados SIGTAP

In [51]:
df_sigtap_f.to_csv('BASE\.BASE_SIGTAP_GERAL.csv', sep=';', encoding='latin-1', index=False) # Exportando o arquivo para csv

# Salvando a Solução de "ipynb to py"

In [52]:
tempo_final = time.time()
tempo_total = (float(tempo_final - tempo_inicial)/60)
print(f"Tempo total de execução: {tempo_total:,.1f} minutos" )

Tempo total de execução: 0.6 minutos